<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevinyue.wineselector">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Element.ElementsActivity" />
        <activity android:name=".Element.WinetypesActivity" />
        <activity android:name=".Element.FoodListActivity" />
        <activity android:name=".Element.RedWineActivity" />
        <activity android:name=".Element.WhiteWineActivity" />
        <activity android:name=".Element.RoseWineActivity" />
        <activity android:name=".Element.SparklingWineActivity" />
        <activity android:name=".Element.SearchWineActivity" />
        <activity android:name=".Element.WineDetailActivity" />
        <activity android:name=".Element.FavoriteActivity" />
        <activity android:name=".Element.NewBeginnersActivity"></activity>
    </application>

</manifest>
